{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <section class="aPropos">
        <div class="bandeauPage">
            <img src="{{ asset('img/a-propos.jpg')}}" alt="le feng shui et moi" class="full-img">
            <div class="filterBandeau">
                <h1 class="tc">A propos<br>de moi</h1>
            </div>
        </div>
        <div class="wrap">
         <p>J'attendrais tes mots...</p>
        
        </div>
      


    </section>
{% endblock %}
