{% extends 'base.html.twig' %}

{% block title %}Fengshui{% endblock %}

{% block body %}
<section class="fengshui">
    <div class="bandeauPage">
            <img src="{{ asset('img/fengshui.jpg')}}" alt="l'art du feng shui traditionel" class="full-img">
            <div class="filterBandeau">
                <h1 class="tc">L'authentique<br>FENG SHUI</h1>
            </div>
    </div>

    <div class="wrap container">
        <h2 class="tc">Un Trésor pour l'Humanité</h2>
        <div class="fc fw jc-sb">
            <div class="block">
                <p>Issu de la Cosmologie Taoïste, il y a plus de 3000 ans en  Chine, le Feng Shui est né d'un constat que notre environnement a des influences sur  nos conditions de vie.</p>
                <p> Les anciens Maîtres Taoïstes, en décryptant le fonctionnement  de l'Univers, ont voulu nous faire comprendre que là où nous vivons signifie comment nous vivons et que là où nous travaillons signifie comment nous travaillons.</p>
                <p> Le Feng Shui est une Science de l'Environnement. Il nous permet de  changer nos conditions de vie (extérieur et intérieur) dans le but de  transformer un potentiel en influences bénéfiques qui agiront sur tous les  aspects de notre existence.</p>
            </div>
            <div class="block">
                <p> Le Feng Shui nous permet de comprendre les forces puissantes de la  nature qui agissent sur les personnes, les maisons, les quartiers, les  villages, les villes et parfois même les pays.</p>
                <p>Nous vivons tous dans un environnement différent, urbain, dans  un appartement, une maison, entourés de montagnes, de mer, de piscines, de  routes, d'immeubles, de rivières…</p>
                <p> La clé du Feng Shui est de s'adapter à son environnement afin  de vivre heureux et en bonne santé car 70% des influences bénéfiques ou  néfastes que nous recevons proviennent de l'extérieur.</p>
            </div>
            <div class="block">
                <p> Notre intérieur, architecture et agencement, n'influant qu'à  30% sur nos vies.</p>
                <p> En ce qui concerne la décoration, le maître mot  est : «&nbsp;Faites -vous plaisir&nbsp;»&nbsp;! </p>
                <p> Le Feng Shui n'est pas l'art de créer des ambiances Zen, de placer  des objets, meubles, des symboles, des couleurs dans nos maisons.</p>
                <p class="tc"><strong> Le Feng Shui est l’art de se situer entre l'eau et la montagne.</strong></p>
            </div>
        </div>
        
        <h2 class="tc univers"><strong>L'univers du Feng Shui</strong></h2>
        <img src="{{ asset('img/fish.png') }}" alt="fengShui Fish" class="fish">
        <div>
            <article class="fc fw jc-sb">
                <div class="col1 ancestraleimg">
                </div>
            <div class="col2">
             <h1>Le Feng Shui agit sur de nombreux aspects</h1>
             <div class="borderleft">
                <ul>
                    <li>La santé</li>
                    <li>La longévité</li>
                    <li>La vitalité</li>
                    <li>La qualité du sommeil</li>
                    <li>Le développement personnel</li>
                    <li>La vie de couple</li>
                    <li>L’harmonie familiale</li>
                    <li>Les relations sociales</li>
                    <li>La réussite scolaire et universitaire</li>
                    <li>La situation professionnelle</li>
                    <li>La richesse matérielle</li>
                    <li>Les gains financiers</li>
                    <li>La prospérité des entreprises</li>
                    <li>La chance au quotidien </li>
                    <li>et bien d'autres choses encore</li>
                </ul>
             </div>
            </div>

            </article>
            <article class="fc fw jc-sb">
            <div class="col1 maitrefengshui">
            </div>
            <div class="col2">
                <h1>Le rôle du Maître en Feng Shui</h1>
                <div class="borderleft">
                    <ul>
                        <li>Evaluer la qualité du QI de votre lieu de vie</li>
                        <li>Capter les énergies bénéfiques des personnes</li>
                        <li>Eviter et évacuer les énergies néfastes</li>
                        <li>Permettre une circulation optimale du Qi</li>
                        <li>Placer les personnes à leur juste place au sein de leur habitation </li>
                        <li>Chercher un terrain idéal dans votre projet de construction </li>
                        <li>Positionner la bonne maison sur le terrain </li>
                        <li>Définir le bon agencement de votre lieu de vie </li>
                        <li>Prévoir les futures influences </li>
                        <li>Sélectionner les dates favorables pour  travaux, emménagement, inauguration, mariage, contrat…</li>
                    </ul>
                </div>
            </div>
            </article>
            <article class="fc fw jc-sb">
            <div class="col1 luopan">
                <img src="" alt="">
            </div>
            <div class="col2">
                <h1>Luo Pan : outils universel</h1>
                <div class="borderleft">
                    <p>Le Luo Pan est l'outil de base du praticien en Feng Shui.</p>
                    <p>Il est composé d'une boussole au centre d'un disque gradué à plusieurs anneaux, tournant sur un plateau fixe.</p>
                    <p>Deux fils de nylon perpendiculaires permettent une lecture précise et fiable dans toutes les situations de prise de mesure.</p>
                    <p>Les anneaux,  au nombre de 18 sur le Luo Pan créé par Maître Han, font référence aux diverses méthodes et formules du Feng Shui et définissent la qualité bénéfique ou néfaste des directions de chaque paramètre de l'environnement intérieur ou extérieur.</p>
                    <p>Chaque division est identifiée par un idéogramme Chinois que le praticien doit comprendre et interpréter. Cela fait notamment partie de son apprentissage. </p>
                    <p>Le Luo Pan est l'outil indispensable du consultant en Feng Shui pour réaliser une analyse fiable, établir un diagnostic juste et prodiguer des conseils appropriés.</p>
                </div>
            </div>
            </article>
        </div>
    
    
    </div>
</section>
{% endblock %}
