{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <section class="offre">
        <div class="bandeauPage">
            <img src="{{ asset('img/offre.jpg')}}" alt="l'art du feng shui traditionel" class="full-img">
            <div class="filterBandeau">
                <h1 class="tc">Feng Shui<br>Personnalisé</h1>
            </div>
        </div>
      
        <div class="wrap">
            
            <h2 class="tc">Connaître – Améliorer – Prévoir <br><span>Sollicitez les bonnes informations pour prendre les bonnes décisions !</span></h2>
            <div class="fc fw jc-sb">
                <div class="col1">
                    <h3>Comprendre vos besoins pour mieux y répondre</h3>
                    <p>Une expertise Feng Shui nécessite tout d'abord une visite qui se fait toujours sur le lieu même de votre habitation. Elle permet au Maître de comprendre vos attentes, vos besoins, vos problèmes et ainsi quelles améliorations doit vous apporter cette expertise. </p>
                
                </div>
                <div class="col2">
                    <h3>Répondre de manière spécifique et personnalisée</h3>
                    <p>Après un diagnostic présentant les détails de son analyse, le Maître vous remet un rapport avec ses recommandations qui vous permettront d’obtenir les meilleures influences possibles pour votre habitation. La mise en place des recommandations est indispensable pour obtenir des résultats. C'est pourquoi l'expertise inclut un suivi de 12 mois pour vous aider à mettre en œuvre tous les conseils et mesurer l’évolution des résultats obtenus.</p>
                
                </div>

                <h2 class="tc analyse"><strong>Mes analyses du Feng Shui</strong></h2>
                <img src="{{ asset('img/strategie2.png')}}" alt="la strategie du feng shui" class="imgstrategie">

                <div>
                    <article class="fc fw jc-sb">
                        <div class="articleCol1">
                            <h1>Feng Shui ~ Analyse des paramètres externes</h1>
                            <div>
                                <ul>
                                    <li>Emplacement général du terrain (topographie)</li>
                                    <li>Emplacements et directions des formes externes naturelles (eau, montagnes,  rivières) et urbaines (routes, bâtiments)</li>
                                    <li>Flux entrants et sortants du Qi (chemins d'accès)</li>
                                    <li>Présence éventuelles de configurations néfastes (Sha Qi)</li>
                                    <li>Présence d’une piscine, d’un bassin, d'une fontaine</li>
                                    <li>Qualité de la formation dite des 4 Animaux Célestes</li>
                                    <li>... </li>
                                </ul>
                            </div>
                        </div>
                        <div class="articleCol2 imgExterne">
                        </div>
                    
                    </article>
                    <article class="fc fw jc-sb">
                        <div class="articleCol1">
                            <h1>Feng Shui ~ Analyse des paramètres internes</h1>
                            <div>
                                <ul>
                                   <li>L'architecture et l'aspect général du bâtiment</li>
                                    <li>L'entrée principale et les entrées secondaires</li>
                                    <li>L'agencement des pièces : chambres, cuisine, séjour, bureaux, salles d'eau, etc.</li>
                                    <li>Directions et emplacements des facteurs clés :  porte (bouche du Qi), lits, cuisinière, bureaux...</li>
                                    <li>Situation du Cœur Céleste - libre, obstrué, attaqué...</li>
                                </ul>
                            </div>
                        </div>
                        <div class="articleCol2 imgInterne">
                        </div>
                    
                    </article>
                    <article class="fc fw jc-sb">
                        <div class="articleCol1">
                            <h1>Feng Shui ~ Analyse des paramètres individuels</h1>
                            <div>
                                <p>Calcul du Trigramme de Vie (Ming Gua) à partir de la date de naissance selon le système Ba Zhai.</p>
                                <p>Ce système permet de trouver les emplacements et les directions favorables de chaque personne afin de leur permettre de recevoir le Qi qui leur convient le mieux. Le système Ba Zhai permet de placer chaque personne à sa juste place dans sa maison, afin d’améliorer ses conditions de vie.</p>
                                <p>Prise en considération des problèmes particuliers (enfants en difficulté scolaires, difficultés de couple, mauvaise harmonie familiale, difficultés financières, maladie…) afin de trouver les solutions appropriées pour chaque individu.</p>
                            </div>
                        </div>
                        <div class="articleCol2 imgIndividuel">
                        </div>
                    
                    </article>
                    <article class="fc fw jc-sb">
                        <div class="articleCol1">
                            <h1>Feng Shui ~ Analyse des paramètres temporels</h1>
                            <div>
                                <p>Le temps et l'espace sont liés. Les cycles temporels apportent leur lot d'influences et modifient également celles des paramètres spatiaux.</p>
                                <p>Deux systèmes majeurs de Feng Shui servent à l'analyse des influences temporelles : le Xuan Kong Fei Xing (Etoiles Volantes) et le Xuan Kong Da Gua (Périodes de Chance).</p>
                                <p>En fonction de la date d'emménagement, de la période en cours, de la direction de la porte d'entrée, ces systèmes définissent une répartition d'influences bénéfiques et néfastes qui se combinent à toutes les autres.</p>
                            </div>
                        </div>
                        <div class="articleCol2 imgTemporel">
                        </div>
                    
                    </article>
                    
                    <div class="resultat tc">
                        <h3>En fonction de son diagnostic, les conseils du Maître vous permettront</h2>
                        <p>De placer chaque membre de votre famille dans les secteurs et les directions qui lui sont bénéfiques</p>
                        <p>D’apporter des solutions pour se prémunir d’un environnement externe néfaste</p>
                        <p>De ré-agencer les pièces pour une meilleure redistribution du Qi (souffle vital)</p>
                        <p>D’apporter des éléments de décoration ciblés (aquarium, meubles, objets) pour activer les bonnes énergies ou  affaiblir les mauvaises. </p>
                    </div>

                    <div class="mesOffres fc fw jc-sb">
                        <div class="fc jc-c ai-c"><p>offre a venir</p></div>
                        <div class="fc jc-c ai-c"><p>offre a venir</p></div>
                        <div class="fc jc-c ai-c"><p>offre a venir</p></div>
                        <div class="fc jc-c ai-c"><p>offre a venir</p></div>
                        <div class="fc jc-c ai-c"><p>offre a venir</p></div>
                        <div class="fc jc-c ai-c"><p>offre a venir</p></div>
 

                    </div>
               
                
                </div>




        
            
            </div>


                

                
                    
                
               
            
           
            
            


        
        </div>

    </section>
{% endblock %}
